body,
p,
h1,
h2 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#root {
    display: flex;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 3px solid #dedede;
    background-color: rgb(247, 247, 247);
}

.profile {
    height: 60px;
    clip-path: circle();
}

.menu {
    display: none;
}

.nav-bottom {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
}

input {
    flex: 1;
    max-width: 600px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    outline: none;
    border: 2px solid #cacaca;
}

.btn {
    padding: 0.2rem 1.2rem;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #727272;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    color: #727272;
}

.btn-primary {
    border-color: #0047b1;
    color: #0047b1;
}

.sidebar {
    width: 50rem;
    background-color: #3f0e40;
}

.logo {
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 4px solid rgba(190, 190, 190, 0.459);
}

.list {
    color: rgb(219, 219, 219);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    list-style: none;
}

.list li:not(:last-child) {
    margin-bottom: 1rem;
}

.up {
    border-bottom: 4px solid rgba(190, 190, 190, 0.459);
}

.main {
    padding: 2rem;
    background-color: rgb(247, 247, 247);
}

.main-contents,
.all-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured,
.all {
    margin: 1rem;
    padding: 1rem;
    background-color: #ebebeb;
    border-radius: 1.4rem;
    border: 2px solid #d4d4d4;
    height: 12rem;
    width: 18rem;
}

.batch,
.sub,
.str {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.time,
.date {
    font-size: 0.8rem;
}

.time {
    font-weight: 700;
}

.day {
    margin-top: 1.4rem;
    display: flex;
    justify-content: space-around;
}

.day p {
    color: white;
    font-size: 0.85rem;
    padding: 6px;
    background-color: #6baec7;
    clip-path: circle();
}

@media (max-width: 950px) {
    .sidebar {
        display: none;
    }
    .menu {
        display: block;
    }
}